

body {
  height: 100%;
  font-family: 'Cairo', sans-serif;
  background-image: url('../resources/background.jpg');
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}

.container {
  height: auto;
}

.blackbox {
  background-color: rgba(0, 0, 0, .65);
  width: 95%;
  margin: 0 auto;
  border: 1.5px solid grey;
}


header {
  text-align: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.about-section {
  text-align: center;
  padding-bottom: 55px;
}

.about-btn {
  color: white;
  width: 150px;
  margin-bottom: 15px;
  background: none;
  border: 1.5px solid white;

}

#about {
  width: 80%;
  border: 1.5px solid white;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
}

#about a {
  font-weight: bolder;
}

form {
  text-align: center;
}

input {
  color: white;
  font-family: 'Cairo', sans-serif;
  border: 1.5px solid white;
  background-color: black;
  background: none;
  font-size: 12pt;
}

.crypto-search {
  height: 50px;
  width: 165px;
}


.sub-btn {
  height: 55px;
  width: 135px;
  
}

.sub-btn:hover {
  font-weight: bolder;
  text-decoration: underline;
}

.sub-btn:focus {
  font-weight: bolder;
  text-decoration: underline;
}


::placeholder {
  color: white;
  text-align: center;
}


.result-list {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.remove {
  color: white;
  background: none;
  font-family: 'Cairo', sans-serif;
  border: 1px solid white;
  width: 65px;
  height: 30px;
}

#news {
  padding-top: 50px;
}

#news h2 {
  text-align: center;
}



.article-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px; 
  width: 80%;
  margin: auto;
}



.title {
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.description {
  font-size: 15px;
}

.thumbnail{
  padding-left: 2px;
}

.thumbnail img {
  height: 125px;
  border: 1.5px solid white;
  float: right;
  opacity: 0.8;
  
}

@media only screen and (min-width: 320px) and (max-width: 480px) {

  .crypto-search {
  height: 40px;
  width: 145px;
}

  .sub-btn {
  height: 45px;
  width: 115px;
  
}

  .thumbnail img {
  height: 80px;
  
  
  }
  .articles-list {
  margin-right: 25px; 

  }

}